<div class="text-center">
  <h5><strong>RECOMENDACIONES DE PELÍCULAS:</strong></h5>
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button *ngFor="let movie of movies$ | async; let i = index" type="button"
        data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
        [attr.aria-label]="'Slide ' + (i + 1)">
      </button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let movie of movies$ | async">
        <img [src]="'http://localhost:3000/files/' + movie.name + '.jpg'" alt="{{ movie.name }}" class="d-block w-100"
          alt="..." style="height: 450px; opacity: 1;">
        <div class="degradee" (click)="searchRecomendation(movie.id)"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>{{movie.name}} </h5>
          <p>{{movie.synopsis}}</p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>